extends layout
block content
    div(class='row clearfix')
        div(class='col-md-12')
            div(class='container' style='width: 960px')
                include content/043_2200_co_businessField2_c.html