<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>

<body>

<div class="head-wrapper">
    <!--<div class="row clearfix">-->
    <div class="container">
        <div class="col-md-12 column">
            <div class="row clearfix">
                <div class="col-md-3 column">
                    <a href="043-1_M_main.html"> <img src="img/y_machine_logo_201px.png" alt="와이머신 로고"> </a>
                </div>
                <div class="col-md-9 column">
                    <nav class="navbar nav-menu pull-right" role="navigation">

                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li class="active">
                                    <a href="/intro1">회사소개</a>
                                </li>

                                <li>
                                    <a href="/product_List1">신제품소개</a>
                                </li>

                                <li>
                                    <a href="/product_List2">중고제품</a>
                                </li>

                                <li>
                                    <a href="043-1_S_customer_Write1.html">고객문의</a>
                                </li>

                                <li>
                                    <a href="043-1_S_customer_Write1.html">중고장비문의</a>
                                </li>

                                <li>
                                    <a href="043-1_S_notice_List1.html">공지사항</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!--</div>-->
<div class="container">
<div class="row clearfix">
    <div class="col-md-12 column">
        <div class="container-fluid">
            <div class="row clearfix">
                <nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="#">성시원님 환영합니다</a>
                            </li>
                            <li>
                                <a href="043-1_S_main1.html">공작기계</a>
                            </li>
                            <li>
                                <a href="043-1_S_main2.html">금융리스</a>
                            </li>
                            <li>
                                <a href="043-1_S_sitemap1.html">Site map</a>
                            </li>
                            <li>
                                <a href="#">Log-out</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>